# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

**/.crud.cpython-312.pyc
**/.matrices.cpython-312.pyc
**/.persistencia.cpython-312.pyc

# VSCode
.vscode/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Entornos virtuales
venv/
env/

# Archivos temporales
*.log
*.tmp
*.bak

# Archivos de datos
matriz.json
vectores.json
